$('#new_url_modal').modal('hide');
$('#new_url')[0].reset();
$('.url_id_ajax').prepend($("<option selected='selected'></option>").attr("value","<%= @url.id %>").text("<%= escape_javascript(@url.url) %>"));