<div id="new_keyphrase_modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
<%= simple_form_for(Keyphrase.new, :html => {:class => 'form-horizontal'}, :remote => true, :validate => true) do |f| %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">New Keyphrase</h3>    
  </div>
  <div class="modal-body">
		<%= f.error_notification %>
	  <div class="form-inputs">
	    <%= f.input :keyphrase %>
	  </div>
  </div>
  <div class="modal-footer">
    	<%= f.button :submit, :class => 'btn btn-primary pull-left' %>
    	<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
<% end %>
</div>
