$('#new_keyphrase_modal').modal('hide');
$('#new_keyphrase')[0].reset();
$('.keyphrase_id_ajax').prepend($("<option selected='selected'></option>").attr("value","<%= @keyphrase.id %>").text("<%= escape_javascript(@keyphrase.keyphrase) %>"));