$('#new_client_modal').modal('hide');
$('.client_id_ajax').prepend($("<option selected='selected'></option>").attr("value","<%= @client.id %>").text("<%= escape_javascript(@client.name) << " (".html_safe << escape_javascript(@client.company) << ")".html_safe %>"));