<thead>
  <tr>
  	<td><small>#</small></td>
  	<td><small>Action</small></td>
    <td><small>Client</small></td>
    <td><small>Url</small></td>
    <td><small>Keyphrase</small></td>
    <td><small>Type</small></td>
    <td><small>Template</small></td>
    <td><small>Start</small></td>
    <!--<td><small>Length</small></td>
    <td><small>Autoemails</small></td>-->
    <td></td>
  </tr>
</thead>
